<div class="home-banner">
  <div class="banner-content">
    <a href="#cocktails-list"><h1 class="button-banner">Mamie's Cocktails</h1></a>
  </div>
</div>

<div class="container">


  <div class="row" id="cocktails-list">

    <% @cocktails.each do |cocktail| %>

    <div class="col-xs-12 col-sm-4">

      <% if cocktail.photo.present? %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>)">
        </div>

        <% else %>

        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai')">
        </div>

        <% end %>

        <div class="card-name"><%= cocktail.name %></div>
        <%= link_to "", cocktail_path(cocktail), class: "card-link" %>

        </div>

      <% end %>
    </div>

    <div class="row" id="test chart">
      <canvas id="myChart" width="400" height="400"></canvas>
      <canvas id="myChart2" width="400" height="400"></canvas>
      <canvas id="line-chart" width="400" height="400"></canvas>

    </div>

  </div>
</div>
