<div class="home-banner">
  <div class="banner-content"> </div>
</div>

<div class="container">

<h1 class="text-center mb-40px">See all cocktails</h1>

    <div class="row">

      <% @cocktails.each do |cocktail| %>

        <div class="col-xs-12 col-sm-4">

          <% if cocktail.photo.present? %>

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>)">
            </div>

          <% else %>

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai')">
            </div>

          <% end %>

          <div class="card-name"><%= cocktail.name %></div>
          <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
